blob_to_sql_sales_copy.json
{
  "name": "blob_to_sql_sales_copy",
  "properties": {
    "description": "Copy CSV files from Azure Blob Storage (raw-data/sales/) to Azure SQL Database staging table (staging.sales_data). Part of sales data warehouse ingestion process.",
    "activities": [
      {
        "name": "TruncateStagingTable",
        "type": "Script",
        "dependsOn": [],
        "policy": {
          "timeout": "0.00:05:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "scripts": [
            {
              "type": "Query",
              "text": {
                "value": "@concat('TRUNCATE TABLE ', pipeline().parameters.sinkSchema, '.', pipeline().parameters.sinkTable)",
                "type": "Expression"
              }
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedServiceName": {
          "referenceName": "@pipeline().parameters.sinkLinkedService",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "CopySalesData",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "TruncateStagingTable",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": false,
              "wildcardFolderPath": "@pipeline().parameters.sourceFolderPath",
              "wildcardFileName": "@pipeline().parameters.sourceFilePattern",
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings",
              "skipLineCount": 0,
              "compressionProperties": null
            }
          },
          "sink": {
            "type": "AzureSqlSink",
            "writeBehavior": "insert",
            "sqlWriterUseTableLock": false,
            "tableOption": "autoCreate",
            "disableMetricsCollection": false
          },
          "enableStaging": false,
          "validateDataConsistency": false,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "@pipeline().parameters.sourceDataset",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "@pipeline().parameters.sinkDataset",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "LogPipelineRun",
        "type": "Script",
        "dependsOn": [
          {
            "activity": "CopySalesData",
            "dependencyConditions": ["Succeeded", "Failed"]
          }
        ],
        "policy": {
          "timeout": "0.00:05:00",
          "retry": 1,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "scripts": [
            {
              "type": "Query",
              "text": {
                "value": "@concat('INSERT INTO ', pipeline().parameters.loggingTable, ' (PipelineName, RunId, Status, StartTime, EndTime, RowsCopied) VALUES (''', pipeline().Pipeline, ''', ''', pipeline().RunId, ''', ''', activity('CopySalesData').Status, ''', ''', pipeline().TriggerTime, ''', ''', utcnow(), ''', ', string(activity('CopySalesData').output.rowsCopied), ')')",
                "type": "Expression"
              }
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedServiceName": {
          "referenceName": "@pipeline().parameters.sinkLinkedService",
          "type": "LinkedServiceReference"
        }
      }
    ],
    "parameters": {
      "sourceFolderPath": {
        "type": "String",
        "defaultValue": "raw-data/sales"
      },
      "sourceFilePattern": {
        "type": "String",
        "defaultValue": "sales_*.csv"
      },
      "sourceDataset": {
        "type": "String"
      },
      "sinkDataset": {
        "type": "String"
      },
      "sinkLinkedService": {
        "type": "String"
      },
      "sinkSchema": {
        "type": "String",
        "defaultValue": "staging"
      },
      "sinkTable": {
        "type": "String",
        "defaultValue": "sales_data"
      },
      "loggingTable": {
        "type": "String",
        "defaultValue": "monitoring.pipeline_run_log"
      }
    },
    "annotations": [
      "auto-generated",
      "copy-pipeline",
      "sales-ingestion",
      "blob-to-sql"
    ],
    "folder": {
      "name": "generated"
    }
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}
