copy_blob_to_sql_sales.json
{
  "name": "copy_blob_to_sql_sales",
  "properties": {
    "description": "Copies CSV files from Azure Blob Storage (raw-data/sales/) to Azure SQL Database staging table (staging.sales_data). Part of the sales data warehouse ingestion process.",
    "activities": [
      {
        "name": "TruncateStagingTable",
        "type": "Script",
        "dependsOn": [],
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "scripts": [
            {
              "type": "Query",
              "text": {
                "value": "@concat('TRUNCATE TABLE ', pipeline().parameters.sinkSchemaName, '.', pipeline().parameters.sinkTableName)",
                "type": "Expression"
              }
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedServiceName": {
          "referenceName": "@pipeline().parameters.sinkLinkedService",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "CopySalesData",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "TruncateStagingTable",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": true,
              "wildcardFolderPath": {
                "value": "@pipeline().parameters.sourceFolderPath",
                "type": "Expression"
              },
              "wildcardFileName": {
                "value": "@pipeline().parameters.sourceFilePattern",
                "type": "Expression"
              },
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings",
              "skipLineCount": 0
            }
          },
          "sink": {
            "type": "SqlSink",
            "writeBatchSize": 10000,
            "writeBatchTimeout": "00:30:00",
            "sqlWriterUseTableLock": false,
            "disableMetricsCollection": false
          },
          "enableStaging": false,
          "validateDataConsistency": false,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": false,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "@pipeline().parameters.sourceDataset",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "@pipeline().parameters.sinkDataset",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "LogPipelineRun",
        "type": "Script",
        "dependsOn": [
          {
            "activity": "CopySalesData",
            "dependencyConditions": [
              "Succeeded",
              "Failed"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "scripts": [
            {
              "type": "Query",
              "text": {
                "value": "@concat('INSERT INTO ', pipeline().parameters.loggingTableName, ' (PipelineName, RunId, Status, StartTime, EndTime, RowsCopied) VALUES (''', pipeline().Pipeline, ''', ''', pipeline().RunId, ''', ''', if(equals(activity('CopySalesData').Status, 'Succeeded'), 'Success', 'Failed'), ''', ''', pipeline().TriggerTime, ''', GETUTCDATE(), ', string(activity('CopySalesData').output.rowsCopied), ')')",
                "type": "Expression"
              }
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedServiceName": {
          "referenceName": "@pipeline().parameters.sinkLinkedService",
          "type": "LinkedServiceReference"
        }
      }
    ],
    "parameters": {
      "sourceFolderPath": {
        "type": "String",
        "defaultValue": "raw-data/sales"
      },
      "sourceFilePattern": {
        "type": "String",
        "defaultValue": "sales_*.csv"
      },
      "sourceDataset": {
        "type": "String"
      },
      "sinkSchemaName": {
        "type": "String",
        "defaultValue": "staging"
      },
      "sinkTableName": {
        "type": "String",
        "defaultValue": "sales_data"
      },
      "sinkDataset": {
        "type": "String"
      },
      "sinkLinkedService": {
        "type": "String"
      },
      "loggingTableName": {
        "type": "String",
        "defaultValue": "dbo.PipelineRunLog"
      }
    },
    "annotations": [
      "auto-generated",
      "copy-pipeline",
      "sales-ingestion",
      "blob-to-sql"
    ],
    "folder": {
      "name": "generated"
    }
  }
}
